.destination-container {
  margin-right: 20px;
  margin-top: 20px;
}
.destination-image {
  height: 300px;
  width: 400px;
}
@media (min-width: 768px) {
  .destination-image {
    height: 190px;
    width: 280px;
  }
}
.destination-name {
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .destination-name {
    font-size: 18px;
    font-weight: 500;
  }
}
